@import "../.././node_modules/bootstrap/scss/bootstrap";

body{
    background: #fff;
}

#navbarScrollingDropdown{
    color: aliceblue;
}

.card-item{

}

.cart-icon{
    padding-left: 10px;
}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
}